/*
0 - 600px         Phone
600px - 900px     Tablet Portrait
900px - 1200px    Tablet Landscape
[1200px - 1800px] Normal Styles
1800px +          Big Desktop



$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* forces inheritance of box sizing */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* sets box sizing to be inherited by everything in the body */
  box-sizing: border-box;
  margin: 4rem; }
  @media (max-width: 56.25em) {
    body {
      margin: 0; } }

.content {
  background-color: #F2F6F8; }

body {
  font-family: 'Raleway';
  font-weight: 300; }

.header__text {
  font-size: 10rem;
  color: #e5e5e5;
  font-weight: 300; }
  @media (max-width: 37.5em) {
    .header__text {
      font-size: 6rem; } }
  .header__text > span {
    padding: 1rem; }

.info__paragraph--text {
  margin: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading__secondary {
  font-size: 4rem;
  font-weight: 400; }

.header {
  background-image: linear-gradient(#432c4a, #432c4a);
  height: 95vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  z-index: 100; }
  .header__title {
    position: absolute;
    top: 40vh;
    right: 50%; }
  .header__text--rover {
    position: absolute;
    animation-name: slideLeft;
    animation-duration: 2s;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .header__text--cube {
    position: absolute;
    right: 100%;
    animation-name: slideRight;
    animation-duration: 2s;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

#header__text--line {
  padding: 0;
  width: 2px;
  border: 2px solid #e5e5e5;
  position: absolute;
  padding: 6rem 0;
  animation-name: slideDown;
  animation-duration: 2s;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media (max-width: 37.5em) {
    #header__text--line {
      border: 1px solid #e5e5e5;
      padding: 4rem 0; } }

.row {
  max-width: 104rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 1rem; }
      @media (max-width: 37.5em) {
        .row .col-1-of-2:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100% !important; } }

.row__small {
  max-width: 90rem;
  margin: 0 auto; }
  .row__small:not(:last-child) {
    margin-bottom: 2rem; }
  .row__small::after {
    content: "";
    display: table;
    clear: both; }
  .row__small .col-1-of-2 {
    width: calc((100% - 1rem)/2);
    float: left; }
    .row__small .col-1-of-2:not(:last-child) {
      margin-right: 1rem; }
      @media (max-width: 37.5em) {
        .row__small .col-1-of-2:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 37.5em) {
      .row__small .col-1-of-2 {
        width: 100% !important; } }

.footer {
  padding-top: 4rem;
  background-color: #432c4a;
  color: #e5e5e5;
  text-align: center; }

.contact {
  font-weight: 300;
  font-size: 1.8rem;
  padding-bottom: 3rem; }
  .contact__email {
    font-weight: inherit; }
  .contact__phone {
    font-weight: inherit; }
  .contact__line {
    border: 1px solid #e5e5e5;
    margin: 1rem; }

.copywright {
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 4rem; }

.content__information {
  height: 60rem;
  padding-top: 10vh;
  z-index: -1000; }

.info__text {
  padding: 0 2rem 0 3rem; }

.info__img {
  padding: 0 1rem;
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover; }

.solutions {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 0; }
  .solutions__title--text {
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
    font-size: 4rem; }
  .solutions__card {
    background-color: #432c4a;
    position: relative;
    width: 75%;
    min-height: 47rem;
    margin: 2rem auto;
    border-radius: 2px; }
    .solutions__card--text {
      color: #e5e5e5;
      padding: 5rem 2rem 0 2rem;
      transform: translateY(-4rem);
      z-index: -100; }
  .solutions__img {
    border-radius: 2px;
    position: relative;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    z-index: 100; }

.card__title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: 1rem;
  letter-spacing: .5px; }

.card__text {
  color: #cfcfcf;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: .5px; }
