@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* forces inheritance of box sizing */
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  /* sets box sizing to be inherited by everything in the body */
  box-sizing: border-box; }

.content {
  margin: 4rem; }

body {
  font-family: 'Raleway';
  font-weight: 300; }

.header__text {
  font-size: 10rem;
  color: #e5e5e5;
  font-weight: 300; }
  .header__text > span {
    padding: 1rem; }

.info__paragraph--text {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.6; }

.heading__secondary {
  font-size: 4rem;
  font-weight: 400; }

.header {
  background-image: linear-gradient(#432c4a, #432c4a);
  height: 95vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  z-index: 100; }
  .header__title {
    position: absolute;
    top: 40vh;
    right: 50%; }
  .header__text--rover {
    position: absolute;
    animation-name: slideLeft;
    animation-duration: 2s;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .header__text--cube {
    position: absolute;
    right: 100%;
    animation-name: slideRight;
    animation-duration: 2s;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

#header__text--line {
  padding: 0;
  width: 2px;
  border: 2px solid #e5e5e5;
  position: absolute;
  padding: 6rem 0;
  animation-name: slideDown;
  animation-duration: 2s;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.row {
  max-width: 104rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 1rem; }

.row__small {
  max-width: 90rem;
  margin: 0 auto; }
  .row__small:not(:last-child) {
    margin-bottom: 2rem; }
  .row__small::after {
    content: "";
    display: table;
    clear: both; }
  .row__small .col-1-of-2 {
    width: calc((100% - 1rem)/2);
    float: left; }
    .row__small .col-1-of-2:not(:last-child) {
      margin-right: 1rem; }

.content__information {
  height: 80rem;
  padding-top: 25vh;
  background-color: #F2F6F8;
  transform: translateY(-20vh);
  z-index: -1000; }

.info__text {
  padding: 0 2rem 0 3rem; }

.info__img {
  padding: 0 1rem;
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover; }

.solutions {
  position: relative;
  width: 100%;
  padding-top: 20rem;
  background-color: #F2F6F8; }
  .solutions__title {
    position: absolute;
    left: 50%;
    top: 10rem; }
    .solutions__title--text {
      font-weight: 400;
      font-size: 4rem;
      transform: translateX(-50%); }
  .solutions__card {
    background-color: #432c4a;
    position: relative;
    width: 65%;
    margin: 2rem auto;
    border-radius: 2px; }
    .solutions__card--text {
      color: #e5e5e5;
      padding: 5rem 2rem 0 2rem;
      transform: translateY(-4rem);
      z-index: -100; }
  .solutions__img {
    border-radius: 2px;
    position: relative;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    z-index: 100; }

.card__title {
  font-size: 2rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px; }

.card__text {
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: .5px; }
