$color-primary: #432c4a;

$color-secondary: #F2F6F8;

$color-grey-light-1: #e5e5e5;
$color-grey-light-2: rgb(207, 207, 207);

$color-grey-dark-1: #3E3E3E;


$grid-width: 104rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 1rem;