.header {
    background-image: linear-gradient($color-primary, $color-primary);
    height: 95vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__title {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
    }
 }

