.header {
    background-image: linear-gradient(
        $color-primary, 
        $color-primary);
    height: 95vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
    z-index: 100;

    &__title {
        position: absolute;
        top: 40vh;
        right: 50%;
    }


    &__text {

        &--rover {
            position: absolute;
            animation-name: slideLeft;
            animation-duration: 2s;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        &--cube {
            position: absolute;
            right: 100%;
            animation-name: slideRight;
            animation-duration: 2s;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }

    }

 }

 #header__text--line {
    padding: 0;
    width: 2px;
    border: 2px solid $color-grey-light-1;

    position: absolute;
    padding: 6rem 0;
    animation-name: slideDown;
    animation-duration: 2s;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

