body {
    font-family: 'Roboto';
    font-weight: 300;
}


.header__text {
    font-size: 10rem;
    color: $color-grey-light-1;
    font-weight: 300;

    @include respond(phone) {
        font-size: 6rem;
    }

    > span {
        padding: 1rem;
    }
}

.info__paragraph--text {
    margin: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.6;
}

.heading__secondary {
    font-size: 4rem;
    font-weight: 400;
}